.main {
  flex-grow: 1;
}
.hero {
  padding: {
    top: 80px;
  }
  margin-bottom: 110px;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .hero-info {
    h1 {
      max-width: 460px;
      margin-bottom: 29px;
      margin-top: 100px;
    }
    p {
      max-width: 445px;
      margin-bottom: 40px;
    }
  }
  .hero-btn {
    padding: {
      top: 19px;
      bottom: 16px;
      left: 32px;
      right: 31px;
    }
    background: $background-1;
    border-radius: 31.5px;
    &:active {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.5)
        ),
        linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    }
  }
  .hero-img-wrapper {
    width: 317px;
    height: 560px;
    position: relative;
    border-radius: 158.5px;
    text-align: center;
    justify-content: center;
    background: $background-1;
    img {
      border-radius: 158.5px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .hero-img2 {
      display: none;
    }
    &::before {
      width: 100%;
      height: 300%;
      background: $background-2;
      content: "";
      position: absolute;
      bottom: -197px;
      left: 486px;
      z-index: -1;
      border-radius: 158.5px;
      transform: rotate(45.5deg);
    }
  }
  .hero-img-wrapper div {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    max-width: 200px;
    // height: 120px;
    text-align: left;
    padding: {
      top: 20px;
      left: 24px;
      bottom: 20px;
    }
    span {
      font-size: 1.6rem;
      line-height: 1.75;
      font-weight: 700;
    }
  }
  .hours {
    position: absolute;
    width: 100%;
    bottom: 100px;
    left: -118px;
    z-index: 1;
  }
  .members {
    position: absolute;
    width: 100%;
    top: 110px;
    right: -165px;
    z-index: 1;
  }
  // hero  responsive
  @include responsive(desktop) {
    .container {
      display: flex;
      justify-content: space-between;
    }
    .hero-info {
      h1 {
        margin-bottom: 20px;
        margin-top: 100px;
        max-width: 445px;
      }
      p {
        max-width: 360px;
        margin-bottom: 35px;
      }
    }

    .hero-img-wrapper {
      width: 280px;
      img {
        position: absolute;
        width: 108%;
        left: -14px;
      }
    }

    .hero-img-wrapper div {
      max-width: 180px;
      padding: {
        top: 17px;
        bottom: 17px;
      }
    }
    .members {
      top: 110px;
      right: -155px;
    }
  }
  @include responsive(laptop) {
    .hero-img-wrapper {
      &::before {
        left: 490px;
      }
    }
  }
  @include responsive(tablet) {
    padding-top: 50px;
    .container {
      justify-content: space-around;
    }
    .hero-info {
      h1 {
        margin-bottom: 20px;
        margin-top: 45px;
        max-width: 326px;
      }
      p {
        max-width: 398px;
        margin-bottom: 24px;
      }
    }
    .hero-img-wrapper {
      width: 216px;
      height: 382px;
      img {
        position: absolute;
        width: 100%;
        left: 0;
      }
    }
    .hero-img-wrapper {
      &::before {
        left: 330px;
        bottom: -130px;
        transform: rotate(45deg);
      }
    }
    .hero-img-wrapper div {
      border-radius: 10px;
      max-width: 155px;
      padding: {
        top: 16px;
        left: 20px;
        bottom: 16px;
      }
      span {
        font-size: 1.4rem;
        line-height: 2;
      }
    }
    .hours {
      width: 100%;
      bottom: -40px;
      left: -48px;
    }
    .members {
      width: 105px;
      top: -18px;
      left: 160px;
    }
  }
  @include responsive(minitab) {
    .container {
      justify-content: space-between;
    }
    .hero-info {
      h1 {
        margin-bottom: 17px;
        margin-top: 45px;
        max-width: 315px;
      }
      p {
        max-width: 350px;
        margin-bottom: 20px;
      }
    }
    .hero-img-wrapper {
      width: 216px;
      height: 375px;
      img {
        position: absolute;
        width: 100%;
        left: 0;
      }
    }
    .hero-img-wrapper div {
      border-radius: 10px;
      max-width: 145px;
    }
    .members {
      width: 100px;
      top: -18px;
      left: 130px;
    }
  }
  @include responsive(mobile) {
    .container {
      justify-content: space-between;
    }
    .hero-info {
      h1 {
        margin-bottom: 17px;
        margin-top: 10px;
        max-width: 305px;
        font-size: 4rem;
      }
      p {
        max-width: 335px;
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
    }
    .hero-img-wrapper {
      width: 200px;
      height: 350px;
      &::before {
        bottom: -120px;
      }
      img {
        position: absolute;
        width: 100%;
        left: 0;
      }
    }
    .hero-img-wrapper div {
      max-width: 135px;
    }
    .hours {
      width: 100%;
      bottom: -50px;
      left: -30px;
    }
    .members {
      width: 100px;
      top: -25px;
      left: 80px;
    }
  }
  @include responsive(minmobile) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .hero-info {
      margin-bottom: 70px;
      h1 {
        margin-bottom: 26px;
        margin-top: 10px;
        max-width: 343px;
      }
      p {
        max-width: 343px;
        margin-bottom: 24px;
      }
    }
    .hero-img-wrapper {
      width: 253px;
      height: 253px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &::before {
        display: none;
      }
      .hero-img {
        display: none;
      }
      .hero-img2 {
        display: block;
        width: 100%;
        height: 80px;
        display: flex;
        height: 100%;
        left: 0;
        bottom: 0;
      }
    }
    .hero-img-wrapper div {
      max-width: 155px;
    }
    .members {
      position: absolute;
      width: 100px;
      top: -30px;
      left: 200px;
    }
    .hours {
      width: 100%;
      bottom: -24px;
      left: -34px;
    }
  }
}
.work {
  padding-bottom: 140px;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);

  .work__list {
    display: flex;
    justify-content: center;
    gap: 8rem 3rem;
    flex-wrap: wrap;
  }
  .work-item {
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    width: 35rem;
    // height: 322px;
    position: relative;
    padding: 6.4rem 3.2rem 4rem 3.2rem;
  }
  .work-item:nth-child(2) p {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .work-item:nth-child(3) p {
    padding-top: 2.4rem;
    padding-bottom: 5.2rem;
  }
  .work-item:nth-child(4) p {
    padding-top: 2.4rem;
    padding-bottom: 5.2rem;
  }
  .work-item:nth-child(5) p {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .work-item:nth-child(6) p {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .one {
    background: $background-1;
    padding: 6.4rem 3.2rem 13.8rem 3.2rem;
    h3 {
      color: $white-color;
    }
  }
  .work-img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5.6rem;
    height: 5.6rem;
    background: $background-1;
    border-radius: 50%;
    top: -3rem;
  }

  @include responsive(tablet) {
    .container {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
    }
    .work-item {
      border-radius: 10px;
      max-width: 339px;
      height: 259px;
      position: relative;
      padding: 5.6rem 2.2rem 3.2rem 3.2rem;
    }

    .one {
      background: $background-1;
      padding: 5.6rem 2.1rem 13.9rem 3.2rem;
    }
  }
  @include responsive(minitab) {
    .container {
      display: flex;
      justify-content: center;
    }
  }
  @include responsive(minmobile) {
    .container {
      display: flex;
      justify-content: center;
      padding-left: 16px;
      padding-right: 16px;
    }
    .work-item {
      border-radius: 10px;
      max-width: 343px;
      height: 259px;
      position: relative;
      padding: 5.6rem 2.9rem 3.2rem 2.8rem;
    }
    .work-item:nth-child(3) p {
      padding-top: 2.4rem;
      padding-bottom: 3rem;
    }
    .work-item:nth-child(4) p {
      padding-top: 2.4rem;
      padding-bottom: 3rem;
    }
    .one {
      background: $background-1;
      padding: 2.4rem 2.9rem 3.2rem 2.8rem;
      height: 120px;
    }
  }
}
