.site-btn {
  display: inline-block;
  background: $color-2;
  border-radius: 28px;
  @include fontStyle(1.5rem, 1.6666, normal, $white-color, 700);
  padding: {
    top: 1.4rem;
    bottom: 1.4rem;
    left: 3.2rem;
    right: 3.1rem;
  }
  border: 1px solid transparent;
  transition: 0.3s;

  &:active {
    background-color: $color-1;
  }
}
